body {
	font: 'open-sans', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 25%;
	background: linear-gradient(to right, #423588, #a6a6ce); /* Standard syntax */
}

h1 {
    font: 400 2.5em 'open-sans', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .4em;
    width: 100%;
    margin-top: 2em;
}

h2 {
    font: 400 1.8em 'open-sans', sans-serif;
    margin-bottom: 2em;
}

h3 {
	font: 600 1.4em 'open-sans', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
}

input {
    width: 10em;
    height: 10em;
    margin-top: 3em;
    margin-bottom: 3em;
    border: none;
    border-radius: 10%;
    padding: 0 -1rem;
}
.color1 {
    margin-right: 2rem;
}

button {
    margin: 2rem;
    padding: .8rem .8rem;
    font: 400 1.4em 'open-sans', sans-serif;
    color:  rgba(0,0,0,.5);
    text-transform: uppercase;
    letter-spacing: 0.35em;
    border: none;
    border-radius: 8% 8%;
}
